<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="StringSetting" value="string setting" />
  <add key="StringSettingOverride" value="override" />
  <add key="IntSetting" value="-42" />
  <add key="UintSetting" value ="42" />
  <add key="DateTimeSetting" value="9/7/2015 11:28 AM" />
  <add key="GuidSetting" value="0168ECE4-7596-40A7-A447-D1A4E4B675C5" />
  <add key="FloatSetting" value="3.14" />
  <add key="DecimalSetting" value="3.1415926" />
  <add key="EnumSetting" value="Value2" />
  <add key="EnumSettingInt" value="2" />
</appSettings>

<connectionStrings>
  
  <add name="MyConnectionString1"
        connectionString="Data Source=SomeServer1;Initial Catalog=defaultDatabase1;MultiSubnetFailover=True;Integrated Security=SSPI"
        providerName="System.Data.SqlClient" />
  <add name="MyConnectionString2"
        connectionString="Data Source=SomeServer2;Initial Catalog=defaultDatabase2;MultiSubnetFailover=True;Integrated Security=SSPI"
        providerName="System.Data.SqlClient" />
  
</connectionStrings>
  
</configuration>